<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-transitional-thymeleaf-spring3-1.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Insert title here</title>

	<link type="text/css" rel="stylesheet" href="../../resources/css/cupertino/jquery-ui-1.8.17.custom.css" th:href="@{/resources/css/cupertino/jquery-ui-1.8.17.custom.css}"/>
	<link type="text/css" rel="stylesheet" href="../../resources/css/jquery.pnotify.default.css" th:href="@{/resources/css/jquery.pnotify.default.css}"/>
	<link type="text/css" rel="stylesheet" href="../../resources/css/notification.css" th:href="@{/resources/css/notification.css}"/>
	<link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}"/>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> <!-- //fixme --> </script>
	<script type="text/javascript" src="../../resources/js/jquery-ui-1.8.17.custom.min.js" th:src="@{/resources/js/jquery-ui-1.8.17.custom.min.js}"> <!-- //fixme --> </script>
	<script type="text/javascript" src="../../resources/js/jquery.pnotify.js" th:src="@{/resources/js/jquery.pnotify.js}"> <!-- //fixme --> </script>
	<script type="text/javascript" src="../../resources/js/core/messagesController.js" th:src="@{/resources/js/core/messagesController.js}"> <!-- //fixme --> </script>
	<script type="text/javascript" src="../../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrapr.js}"> <!-- //fixme --> </script>
	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() {
			$('#dialog').dialog({
				modal: true,
				autoOpen: false
			});
		});
	/*]]>*/
	</script>
</head>
<body>
<div class="container">
	<h1>It Works - with Thymeleaf</h1>
	
	<ul>
		<li th:each="p : ${people}" th:inline="text">[[${p.name}]], [[${p.age}]] - [[${p.email}]]</li>
	</ul>
	
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var mc = new SJS.MessagesController();
		var reqFailed = function(data, status) {
			mc.addError('Zonk!', 'Something wrooong happened!');
		};

		var showData = function(json) {
			var html = '<ul>';
	    	$.each(json, function(index, value) {
	    		html += '<li>' + value.mark + ' ' + value.carModel + '</li>';
	    	});
			html += '</ul>';
			$('#dialog').html(html).dialog('open');
		};
		
		$(document).ready(function() {
			var formData = 	$("#ajaxForm").serialize();
			getAjaxFords = function(data, status) {
				$.ajax({
					url: [[@{/getFords}]],
					type: 'POST',
					success: function(data, status) {
						mc.addInfo('Success', 'Got JSON data!<br/><strong>Yuppie</strong>');
						showData(data);
					},
					error: reqFailed
				});
			};
		});
		/*]]>*/
	</script>
	
	<div id="ajaxArea">
		<form id="ajaxForm" method="post" action="#" th:action="@{/getFords}" onsubmit="getAjaxFords(); return false;">
			<button class="btn" type="submit">Get Fords</button>
		</form>
		<button class="btn btn-primary" onclick="getAjaxFords();">Get Fords2</button>
	</div>
	
	<div id="dialog" title="Fords listing"></div>
</div>	
</body>
</html>